profiles {
    test {
        params {
            outdir = "${baseDir}/test_data/output"
            input_bam = "${baseDir}/test_data/input/test_data.bam"
            num_repeats = "5"
            num_reads = "1000,5000"
            // range_reads = "100000,300000,10000"
        }
    }

    pbs {
        process.executor = 'pbs'
    }
}

dag {
    enabled = false
    file = "$baseDir/dag.svg"
}
