profiles {
    test {
        params {
            outdir = "${baseDir}/test_data/output"
            input_bam = "${baseDir}/test_data/input/test_data.bam"
            num_repeats = "10"
            num_reads = "80000000,70000000,60000000,50000000,40000000,30000000,20000000,10000000,1000000"
        }
    }
}

dag {
    enabled = false
    file = "$baseDir/dag.svg"
}
